// LABELS
// ------

// Base
.label {
	padding: 1px 4px 2px;
	font-size: $baseFontSize * 0.846;
	font-weight: bold;
	white-space: nowrap;
	color: $labelColor;
	text-shadow: 0 -1px 0 $labelTextShadow;
	background-color: $labelBackground;
	@include border-radius(3px);
}

// Hover state
.label:hover {
	color: $labelHover;
	text-decoration: none;
}

// Colors
.label-important        { background-color: $labelImportant; }
.label-important:hover  { background-color: $labelImportantHover; }

.label-warning          { background-color: $labelWarning; }
.label-warning:hover    { background-color: $labelWarningHover; }

.label-success          { background-color: $labelSuccess; }
.label-success:hover    { background-color: $labelSuccessHover; }

.label-info             { background-color: $labelInfo; }
.label-info:hover       { background-color: $labelInfoHover; }

.label-inverse          { background-color: $labelInverse; }
.label-inverse:hover    { background-color: $labelInverseHover; }
